.container {
    position: relative;
    width: 1000px;
    height: 450px;
    overflow: hidden;
    background-color: rebeccapurple;
    z-index: 1000;
}
.container .left-arrow {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(100, 100, 100, 0.603);
    left: 10px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}
.container .right-arrow {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(100, 100, 100, 0.603);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.container img{
    position: absolute;
    transition: 0.5s;
    left: -1000px;
    width: 1000px;
    height: 350px;
}
.left-to-center {
    animation-name: example1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
  } 
  @keyframes example1 {
    0%   {left:-1000px}
    100% {left:0px}
  }
  .center-to-right {
    animation-name: example2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards

  }
  @keyframes example2 {
    0%   {left:0}
    100% {left:1000px}
  }
  .center-to-left {
    animation-name: example3;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
  }
  @keyframes example3 {
    0%   {left:0}
    100% {left:-1000px}
  }

  .right-to-center {
    animation-name: example4;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
  }
  @keyframes example4 {
    0%   {left:1000px}
    100% {left:0px}
  }

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}