.container {
    position: relative;
    width: 1000px;
    height: 350px;
}
#myImageDiv {
    position: absolute;
}
.container .left-arrow {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(100, 100, 100, 0.603);
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.container .right-arrow {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(100, 100, 100, 0.603);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
img {
    animation: fadeIn 1s;
    opacity: 1;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}