.sol .sag {
    display: inline-block;
    width: 200;
    height: 200;
    background-color: red;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iceri {

}