.Vote {
    width: 300px;
    height: 70px;
    background-color: rgb(175, 175, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    border: 1px solid black;
}

.click-button {
    color: green;
    font-size: 20px;
    cursor: pointer;
}