
.Header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header li{
    display: inline-block;
    margin: 20px;
}

.Header a {
    text-decoration: none;
    color: black;
}

.Header a.active {
    color: rgb(55, 245, 55);
}

.Header a.my-active {
    color: rgb(128, 13, 0);
}