.sol, .sag {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iceri {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 0);
    z-index: 100;
}