html {
  font-family: sans-serif;
}

#scroll{
  position: fixed;
  right: 10px;
}
body {
  margin-left: 76px;
  margin-top: 53px;
  color: #003d6e;
  font-weight: bold;
  text-align: center;
}

#main-box {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  border: 15px solid #728ea5;
  padding: 10px;
  background: #4daefd;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

